
<div class="ui-grid-container ui-grid-gap room-container">
  <div class="ui-col-md-12 point">
    <h6 class="point__title head-6">Выбрать оценку</h6>
    <div class="point-container">
      <div class="point-wrapper point__item">?</div>
      <div class="point-wrapper point__item">0 point</div>
      <div class="point-wrapper point__item">1 point</div>
      <div class="point-wrapper point__item">2 point</div>
      <div class="point-wrapper point__item">3 point</div>
      <div class="point-wrapper point__item">5 point</div>
      <div class="point-wrapper point__item">8 point</div>
      <div class="point-wrapper point__item">13 point</div>
      <div class="point-wrapper point__item">20 point</div>
    </div>
  </div>

  <div class="ui-col-md-4 users">
    <h6 class="users__title head-6">Список участников</h6>
    <div class="users-container">
      <div class="users-wrapper users__item">
        <div class="users__name">Alexey</div>
        <div class="users__result">?</div>
      </div>
      <div class="users-wrapper users__item success">
        <div class="users__name">Alexandr</div>
        <div class="users__result">?</div>
      </div>
      <div class="users-wrapper users__item success">
        <div class="users__name">Anton</div>
        <div class="users__result">?</div>
      </div>
      <div class="users-wrapper users__item danger">
        <div class="users__name">Pavel</div>
        <div class="users__result">?</div>
      </div>
      <div class="users-wrapper users__item success">
        <div class="users__name">Stanislav</div>
        <div class="users__result">?</div>
      </div>
      <div class="users-wrapper users__item danger">
        <div class="users__name">Stanislav</div>
        <div class="users__result">?</div>
      </div>
    </div>
  </div>

  <div class="ui-col-md-4 action">
    <h6 class="action__title head-5">Активные действия</h6>
    <div class="">
      <button class="action__button button-default button-main-1">Очистить результаты</button>
      <button class="action__button button-square button-square-1">i</button>
    </div>
  </div>

  <div class="ui-sb-md-4 result">
    <h6 class="result__title head-5">Результаты</h6>
    <div class="result-container">
      <div class="result-wrapper">
        <div class="result__label">Минимальная оценка</div>
        <div class="result__decor-dotted"></div>
        <div class="result__result">3</div>
      </div>
      <div class="result-wrapper">
        <div class="result__label">Средняя оценка</div>
        <div class="result__decor-dotted"></div>
        <div class="result__result">4</div>
      </div>
      <div class="result-wrapper">
        <div class="result__label">Максимальная оценка</div>
        <div class="result__decor-dotted"></div>
        <div class="result__result">5</div>
      </div>
    </div>
    <div class="result__consensus">consensus epta!</div>
  </div>
</div>
